@media screen and (min-width: 636px) {
    header {
        justify-content: space-between;
        gap: 4rem;
    }
    .icons {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
    }
    .banner img{
        max-width: 35rem;
    }
    .intro-icon, .intro-icon img{
        width: 8rem;
    }
    .intro-title{
        font-size: .8rem;
    }
    .intro-desc {
        font-size: .9rem;
    }
    .intro-title, .intro-desc {
        padding: 0 .5rem 0 .5rem;
    }
    .locations-desc, .contacts-content, .services-desc {
        font-size: .7rem;
    }
    footer{
        padding: 5rem 0 5rem 0;
    }
    .footer-content {
        align-items: center;
    }
    .locations-title, .contacts-title, .services-title {
        font-size: .8rem;
    }
    .footer-contacts img {
        width: 1.5rem;
    }

}

@media screen and (min-width: 980px) {

    header {
        justify-content: space-around;
        padding: 0;
    }
    .sections {
        display: flex;
    }
    .banner img{
        max-width: 50rem;
    }
    .texts {
        max-width: 35rem;
        margin: 0;
    }
    .footer-content{
        flex-direction: row;
        padding: 0;
        gap: 1rem;
    }
    .footer-intro {
        padding: 1rem;
        max-width: 25rem;
    }
    .footer-infos {
        max-width: 35rem;
        padding: 1rem;
    }
    .locations-title, .contacts-title, .services-title {
        font-size: .8rem;
    }
    .locations-desc, .contacts-content, .services-desc {
        font-size: .9rem;
    }
}

@media screen and (min-width: 1150px) {
    .footer-intro {
        max-width: 35rem;
    }

}
