@media screen and (min-width: 636px) {
    header {
        gap: 4rem;
    }
    .banner img{
        max-width: 35rem;
    }
}

@media screen and (min-width: 980px) {

    header {
        justify-content: space-around;
        padding: 0;
    }
    .sections {
        display: flex;
    }
    .banner img{
        max-width: 50rem;
    }
    .texts {
        max-width: 35rem;
        margin: 0;
    }
    .footer-content{
        flex-direction: row;
        padding: 0;
        gap: 1rem;
    }
    .footer-intro {
        padding: 1rem;
        max-width: 25rem;
    }
    .footer-infos {
        max-width: 35rem;
        padding: 1rem;
    }
    .locations-title, .contacts-title, .services-title {
        font-size: .8rem;
    }
    .locations-desc, .contacts-content, .services-desc {
        font-size: .9rem;
    }
}

@media screen and (min-width: 1150px) {
    .footer-intro {
        max-width: 35rem;
    }

}
